body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.loginTest {
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable-row-operations a {
  margin-right: 8px;
}
